*{
  padding: 0;
  margin: 0;
}

h1,h2{
  color: #fff;
  font-weight: 900;
  font-size: 1.5em;
}

/* jumbotron */
.jumbotron{
    background: url("/Users/admin/Fundacion_Dominguez_Batista/epsilon_beta_technologies/01_Proyectos/a1_covid_predictor/static/img/bgkx.jpeg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.push-spaces
{
    height: 40vh;
}
/* fin jumbotron */


/*Secciones*/
.cardX {
    border-radius: 50px;
    background: #e3f2fd;
    box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
    border: none;
}

/*Botones*/
.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff
}

.neo-button:active {
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: inset 20px 20px 60px #cacaca, inset -20px -20px 60px #ffffff
}

.fa-facebook {
    color: #3b5998
}

.fa-linkedin {
    color: #0077b5
}

.fa-instagram {
    color: #833AB4
}

.fa-youtube {
    color: #cd201f
}

.fa-twitter {
    color: #55acee
}


/*Gradientes*/
.grad {
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* media */
@media (max-width: 700px) {
	.hide-sm {
		display: none;
	}
/* fin media */
